.email-app {
    margin: 5px;
}
.email-preview {
    cursor: pointer;
    box-shadow: 0 0px 3px 2px #cecece78;
}

.email-filter {
    width: 100%;
}
.email-filter label:not(:first-of-type) {
    height: 100%;
}
.email-filter input {
    height: 100%;
}

.email-filter-search-text {
    height: 100%;
}

.sidebar {
    background-color: rgba(117, 59, 117, 0.850);
    padding-left: 10px;
    border-radius: 7px;
}

.folder-name {
    text-transform: capitalize;
    color: white;
}