@import './base.css';
@import './helpers.css';
@import './cmps/user-msg.css';
@import './cmps/app-header.css';
@import './cmps/email/email-details.css';
@import './cmps/email/email-list.css';

.app-footer {
    background-color: rgb(117, 59, 117);
    padding: 10px;
    text-align: center;
}
.email-app {
    padding: 5px 10px;
}
.email-preview {
    cursor: pointer;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.email-filter {
    padding: 15px 0;
}
.email-filter label:not(:first-of-type) {
    margin-left: 10px;
}
.email-filter input {
    margin-left: 5px;
}